[Paths]
copy_dest = /Users/colin/workspace/区块链量化及套利/Solidity & Foundry Full Course/Lesson 12
zip_path = /Users/colin/Downloads/subtitles.zip

[State]
last_name = Lesson 12 Part 10 ｜ Deploy Script - Solidity & Foundry Full Course [jwTreavu9Ig]

